/* Riscrittura classi Bootstrap */

.navbar-left{
    flex-grow: 0;
}

.navbar .btn{
    background-color: #535758;
}

.container-fullwidth .btn{
    background-color: #f00;
}

ul{
    font-weight: 600;
}

h6{
    color: #436efa;
}

/* ---------------------------- */

.opacity{
    opacity: 0.5;
}

.opacity:hover{
    opacity: 1;
}

.img-100w{
    width: 100%;
}

.logo-top{
    background-color: #000;
    text-align: end;
}

.logo-sony{
    height: 14px;
    margin: 10px;
}

.navbar .icon-search{
    width: 25px;
}

.container-fullwidth{
    background-position: top center;
    background-size: cover;
}

.container-fullwidth.jumbotron{
    background-image: url(../img/jumbo-bg.png);
}

.container-fullwidth.game-featured{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.container-fullwidth .returnal-banner{
    width: 50%;
    margin-top: 250px;
}

.container-fullwidth .it-takes-banner{
    width: 50%;
    margin-top: 50px;
}

.box-small{
    border: 2px solid #fff;
    border-radius: 20px;
}

.box-small-inner{
    border: 2px solid #fff;
    border-radius: 20px;
    overflow: hidden;
}

.box-small:hover{
    border-color: #436efa;
}

.content p{
    color: #707070;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-accessori{
    padding-bottom: 24px;
}

.box-accessori:first-child{
    border-bottom: 2px solid #436efa;
}




