/* Riscrittura classi Bootstrap */

.navbar-left{
    flex-grow: 0;
}

.navbar .btn{
    background-color: #535758;
}

.container-fullwidth.nuove-uscite .btn{
    background-color: #f00;
}


ul{
    font-weight: 600;
}

h6{
    color: #436efa;
}

.dropdown-toggle::after{
    color: lightgrey;
    vertical-align: middle;
    /* width: 3px; */
    /* height: 5px; */
    /* background: url ('../img/chevron-down-solid.svg') transparent no-repeat; */
}

/* ---------------------------- */

.opacity{
    opacity: 0.5;
}

.opacity:hover{
    opacity: 1;
}

.img-100w{
    width: 100%;
}

.logo-top{
    background-color: #000;
    text-align: end;
}

.logo-sony{
    height: 14px;
    margin: 10px;
}

.navbar .icon-search{
    width: 25px;
}

.container-fullwidth{
    background-position: top center;
    background-size: cover;
}

.container-fullwidth.jumbotron{
    background-image: url(../img/jumbo-bg.png);
}

.container-fullwidth.game-featured{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.container-fullwidth.nuove-uscite{
    background-color: #1f1f1f;
}

.container-fullwidth.play-plus,
.container-fullwidth.play-now{
    background-color: #bebcbb;
}

.container-fullwidth .returnal-banner, 
.container-fullwidth .it-takes-banner,
.container-fullwidth .ps-plus-banner{
    width: 50%;
}

.container-fullwidth .returnal-banner{
    margin-top: 250px;
}

.container-fullwidth .it-takes-banner, 
.container-fullwidth .ps-plus-banner{
    margin-top: 50px;
}

.box-small{
    border: 2px solid #fff;
    border-radius: 20px;
}

.box-small-inner{
    border: 2px solid #fff;
    border-radius: 20px;
    overflow: hidden;
}

.box-small:hover{
    border-color: #436efa;
}

.content p{
    color: #707070;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-accessori{
    padding-bottom: 24px;
}

.box-accessori:first-child{
    border-bottom: 2px solid #436efa;
}




